iomegadatafactory/PartialArmTemplates/ArmTemplate_7_30_2019_15_23_38.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "iomegadatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ProcessSensorReadingBlobs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Processable Blobs",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[uspGetProcessableBlogs]"
							},
							"dataset": {
								"referenceName": "ProcessableBlobsDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Processable Blobs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Processable Blobs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Processable Blobs').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Blob Path",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "blobPath",
										"value": {
											"value": "@substring(item().Path, 0, sub(indexof(item().path, item().BlobName), 1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Blob Name",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Blob Path",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "blobName",
										"value": {
											"value": "@{item().BlobName}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Process Sensor Readings to SQL DW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set Blob Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": false
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Region"
													},
													"sink": {
														"name": "Region",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Plant"
													},
													"sink": {
														"name": "Plant",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DeviceId"
													},
													"sink": {
														"name": "DeviceId",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Temperature"
													},
													"sink": {
														"name": "Temperature",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Humidity"
													},
													"sink": {
														"name": "Humidity",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "RecordedTime"
													},
													"sink": {
														"name": "RecordedTime",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SensorReadingsBlobDataset",
											"type": "DatasetReference",
											"parameters": {
												"blobPath": {
													"value": "@variables('blobPath')",
													"type": "Expression"
												},
												"blobName": {
													"value": "@variables('blobName')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ProcessedRecordsDWDataset",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				],
				"variables": {
					"blobPath": {
						"type": "String"
					},
					"blobName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SensorReadingsBlobDataset')]",
				"[concat(variables('factoryId'), '/datasets/ProcessedRecordsDWDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessedRecordsDWDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDWConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Plant",
						"type": "nvarchar"
					},
					{
						"name": "DeviceId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Temperature",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Humidity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RecordedTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[SensorReadings]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SensorReadingsBlobDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"blobPath": {
						"type": "string"
					},
					"blobName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Plant",
						"type": "String"
					},
					{
						"name": "DeviceId",
						"type": "Int32"
					},
					{
						"name": "Temperature",
						"type": "Int32"
					},
					{
						"name": "Humidity",
						"type": "Int32"
					},
					{
						"name": "RecordedTime",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat"
					},
					"fileName": {
						"value": "@dataset().blobName",
						"type": "Expression"
					},
					"folderPath": {
						"value": "@dataset().blobPath",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}